{% if (vrfs is defined and vrfs is iterable) or
      (networks is defined and networks is iterable) %}
{% set vlans = vrfs + networks %}
{% for vlan in vlans %}
{% if (vlan.vlan_id is defined or vlan.name != 'management') and vlan.vlan_id != 1 %}
- name: "vlan{{ vlan.vlan_id }}"
  ip_forward: "{{ true if vlan.addr is not defined else omit }}"
  fabric_forwarding_anycast_gateway: "{{ true if vlan.addr is defined else omit }}"
  enabled: true
{% endif%}
{% endfor %}
{% endif %}
