{% if all_layer3_interfaces is defined and all_layer3_interfaces is iterable %}
{% for interface in all_layer3_interfaces %}
{% if interface.name not in ['nve1'] %}
- name: "{{ interface.name }}"
  ipv4:
    - address: "{{ interface.ip_address }}/{{ interface.mask }}"
{% endif %}
{% endfor %}
{% endif %}
{% if networks is defined and networks is iterable %}
{% for network in networks %}
- name: "Vlan{{ network.vlan_id }}"
  ipv4:
    - address: "{{ network.ip_address }}/{{ network.mask }}"
{% endfor %}
{% endif %}
