[defaults]
interpreter_python = /home/pod02/.pyenv/versions/3.12.12/envs/nxapilab/bin/python
host_key_checking = False

# collections_path = /home/pod02/.pyenv/versions/3.12.12/envs/nxapilab/lib/python3.11/site-packages/ansible_collections

[persistent_connection]
command_timeout=1000
connect_timeout=1000
